* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    position: relative;
    float:left;
    height: 80px;
    background-color: lightgray;
}

.maincontainer {
    width: 80vw;
    margin: 0 auto;
}

.eachmenu {
    width: 33.33%;
    position: relative;
    height: 42px;
    float: left;
    margin: 20px 0px;
    display: block;
}

.searchbar {
    width: 80%;
    height: 100%;
    margin:auto;
    float: left;
    border-radius: 60px;
    background-color: white;
    display: block;
    position: relative;
}

.searchicon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(255, 90, 95);
    display: block;
    float: right;
    position: relative;
    margin: 5px 10px;
}

.profile {
    width: 22%;
    height: 100%;
    margin:auto;
    float: right;
    border-radius: 75px;
    background-color:white;
    border-style: solid;
    border-color: gray;
    border: 2px;
    display: block;
    position: relative;
}

.nav_media {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    position: relative;
    display: none;
    float: left;
}

.nav_media_left {
    width: 50%;
    float: left;
}

.nav_media_right {
    width: 50%;
    float: right;
}

.card_header {
    width: 100%;
    margin-top: 30px;
    float: left;
}

.share_save {
    float: right;
    position: relative;
}

.share, .save {
    padding-left: 20px;
    float: right;
    position: relative;
}

.card_image {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 30px;
    float: left;
}

.big_image {
    width: 50%;
    height: 100%;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: 600px;
}

.slides_media {
    text-align: center;
    display: none;
    width: 7%;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 7px;
    opacity: 50%;
    float: right;
    margin-top: 250px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 400;
}

.right_image {
    width: 50%;
    height: 100%;
    float: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.small_image {
    width: 49%;
    height: 49%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
    position: relative;
    background-size: 300px;
}

.show_all {
    background: gray;
    border-radius: 5px;
    background-color:white;
    float: right;
    width: 130px;
    height: auto;
    padding: 7px;
    margin-top: 95px;
    margin-right: 20px;
}

.card_image .small_image :nth-child(n+3) {
    margin-bottom: 0%;
}

.left {
    position: relative;
    width: 55%;
    height: 100%;
    float: left;
    display: block;
    padding-top: 60px;
}

.mainprofile {
    width: 100%;
    height: 80px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.eightcolumn {
    width: 80%;
    float: left;
    position: relative;
    height: 80px;
}

.secondcolumn {
    width: 20%;
    float: left;
    position: relative;
}

.list {
    margin-top: 20px;
    width: 100%;
    float: left;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.icon_with_text_1 {
    width: 100%;
    float: left;
    padding-bottom: 8px;
}

.quote {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.where_u_sleep {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    float: left;
}

.offer {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.icon_with_text_2 {
    width: 50%;
    float: left;
}

.offerbtn {
    width: 30%;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.right {
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    display: block;
    padding-top: 60px;
}

.checkoutcard {
    width: 70%;
    height: 410px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px;
    margin: auto;
    padding: 20px;
    display: block;
    float: right;
}

.price {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    display: block;
    margin-bottom: 10px;
}

.rating_2 {
    float: right;
    padding-top: 6px;
}

.date_media {
    width: 40%;
    display: none;
    margin-top: -15px;
}

.date {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.check {
    width: 45.5%;
    padding: 2%;
    float: left;
    border: 1px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    border-top-left-radius: 10px;
}

.check:nth-child(2) {
    border-left: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}

.guest {
    width: 95.3%;
    padding: 2%;
    float: left;
    border: 1px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text {
    width: 50%;
    float: left;
    font-family: 'Poppins', sans-serif;
}

.reservebtn {
    width: 92%;
    padding: 4%;
    box-sizing: content-box;
    border-radius: 5px;
    background-color:rgb(228, 55, 84);
    text-align: center;
    margin-top: 10px;
    float: left;
}

.details {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.total {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
}

.noticecard {
    width: 70%;
    height: auto;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: block;
    float: right;
}

.report {
    margin-top: 20px;
    margin-right: 25%;
    position:relative;
    display: block;
    text-align: center;
    width: 100%;
    float: right;
}


#rating_1 {
    float: left;
    padding-top: 16px;
    padding-left: 10px;
    width: 20px;
}

#rating_2 {
    float: right;
    padding-top: 3px;
    width: 12px;
}

#rating {
    float: left;
    padding-top: 4px;
    width: 15px;
}

#searchicon {   
    margin: auto;
    padding-top: 9px;  
    width: 12px;
    padding-left: 9px;
}  

#globe-icon { 
    padding-top: 12px;
    float: left;  
    width: 18px;
}  

#hamburger {
    margin: 15px 10px;
    float: left;
    width: 15px;
    padding-left: 5px;
} 

#account { 
    margin: 7px 0px;
    float: left; 
    width: 30px;
} 

#profile { 
    margin: 3px 10px;
    float: right;
    border-radius: 60px;
    width: 60px;
} 

#icon_1 {
    width: 30px;
    padding: 10px;
    float: left
}

#bedroom {
    border-radius:10px;
    margin-top: 10px;
    width: 300px;
}

#icon_2 {
    width: 20px;
    padding: 10px;
    float: left;
}

#dropdown {
    float: right;
    margin-top: 10px;
    width: 20px;
}

#flag {
    float:right;
    display: block;
    padding: 3px;
    width: 15px;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


@media (max-width: 500px){
    nav {
        display:none;
    }

    .maincontainer {
        width: 100vw;
    }

    .nav_media {
        display: block;
    }

    #rating_2 {
        padding: 5px;
        padding-top: 18px;
        padding-right: 10px;
    }

    .card_image {
        margin-top: 0;
    }

    .big_image {
        width: 100%;
        border-radius: 0px;
        display: block;
    }

    .slides_media {
        display: block;
    }

    .card_header {
        width: 92%;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        margin-top: 75%;
        border-bottom: 1px;
        border-bottom-color: gray;
        border-bottom-style: solid;
        box-sizing: content-box;
    }

    .rating {
        margin-top: 5%;
    }
   
    .price {
        width: 40%;
        padding-left: 20px;
        box-sizing: content-box;
    }

    .date_media {
        display: block;
        padding-left: 20px;
        box-sizing: content-box;
    }

    .reservebtn {
        width: 30%;
        padding: 2%;
        float: right;
        margin-top: -68px;
        margin-right: -10px
    }

    .left {
        width: 100%;
        margin-top: 30%;
    }

    .mainprofile {
        margin-top: 14%;
        border-top: 1px;
        padding-top: 15px;
        border-top-color: gray;
        border-top-style: solid;
    }

    .eightcolumn {
        padding-left: 20px; 
        box-sizing: content-box;
        width: 75%;
    }

    .right {
        width: 100%;
    }
    
    .checkoutcard {
        width: 95%;
        border: 0;
        border-bottom: 1px;
        position: absolute;
        margin-top: -289%;
        margin-left: -20px
    }

    .offer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: content-box;
        width: 92%;
    }

    .offerbtn {
        width: 94.5%;
        margin-bottom: -50px;
    }

    .icon_with_text_2 {
        width: 100%;
    }

    .list, .quote, .where_u_sleep {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: content-box;
        width: 92%;
    }

    .check, .guest, .details, .total, .rating_2, .share_save, .small_image, .noticecard, .report {
        display: none;
    }

}