*{
    margin: 0;
    padding: 0;
}

.canvas {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0px auto;
}

.left, .right {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
}

.left .top {
    position: relative;
    width: 100%;
    height: 35%;
  }
  
.left .bottom {
    position: relative;
    width: 100%;
    height: 65%;
  }
  
.right .top {
    position: relative;
    width: 100%;
    height: 50%;
  }
  
.right .bottom {
    position: relative;
    width: 100%;
    height: 50%;
  }
  
.content {
    padding-left: 5%;
    width: 95%;
  }

table.route_table {
    width: 100%;
    border: 1px solid rgb(87, 87, 87);
    border-collapse: collapse;
    margin-top: 5px;
}

table.route_table th {
    text-align: left;
    padding: 8px;
    vertical-align: top;
    background-color:rgb(87, 87, 87);
    color: white;
    border: 1px solid rgb(87, 87, 87);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

table.route_table td {
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border: 1px solid rgb(87, 87, 87);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

h1 {
    font-size: 120px;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

h4 {
    width: 50%;
    background-color: rgb(219, 198, 219);
    border-radius: 15px;
    padding: 10px;
    box-sizing: content-box;
    float: right;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

table.list {
    width: 100%;
}
  
table.list td img {
    width: 30px;
    float: right
}
  
table.list td .icn {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
}

h5 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

h6 {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

li {
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
    font-size: x-small;
}
h3 {
    font-family: 'Squada One', cursive;
    font-size: 30px;
}